body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background-color: #000;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1;

  overflow: hidden;

  background-image: url('../images/main-bg/bg-1920.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  padding: 15px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 960px) {
    width: 400px;
  }

  @media screen and (min-width: 1920px) {
    width: 480px;
  }

  @media screen and (min-width: 2560px) {
    width: 570px;
  }

  @media screen and (min-width: 3400px) {
    width: 680px;
  }
}

.logo {
  display: block;

  max-width: 100%;
  height: auto;
  padding-bottom: 35px;

  object-fit: contain;

  user-select: none;

  @media screen and (min-width: 960px) {
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1920px) {
    padding-bottom: 45px;
  }

  @media screen and (min-width: 2560px) {
    padding-bottom: 50px;
  }

  @media screen and (min-width: 3400px) {
    padding-bottom: 65px;
  }
}

.links {
  display: flex;
  justify-content: space-between;

  list-style: none;
  padding: 0;
  margin: 0;
}

.links__item {
  display: flex;
  flex-direction: column;

  font-size: 40px;
  line-height: 1.5;

  @media screen and (min-width: 960px) {
    font-size: 45px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 55px;
  }

  @media screen and (min-width: 2560px) {
    font-size: 65px;
  }

  @media screen and (min-width: 3400px) {
    font-size: 75px;
  }
}

.fa-solid {
  padding-top: 3px;
  font-size: 35px;

  @media screen and (min-width: 960px) {
    font-size: 40px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 50px;
  }

  @media screen and (min-width: 2560px) {
    font-size: 60px;
  }

  @media screen and (min-width: 3400px) {
    font-size: 70px;
  }
}

.links__link {
  display: block;

  text-decoration: none;
  color: #fff;

  &:hover,
  &:focus {
    color: red;

    transform: scale(1.3);
  }

  &:hover + .mirror,
  &:focus + .mirror {
    color: red;

    background: linear-gradient(to bottom, #ff000000, #ff000000 30%, #ff000010 50%, #ff000050);
    -webkit-background-clip: text;
    background-clip: text;

    transform: scale(1.3) rotateX(180deg);
  }

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mirror {
  display: block;

  color: #fff;

  transform: rotateX(180deg);
  transform-origin: center;

  -webkit-text-fill-color: transparent;

  background: linear-gradient(to bottom, #ffffff00, #ffffff00 30%, #ffffff10 50%, #ffffff50);
  -webkit-background-clip: text;
  background-clip: text;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
