body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background-color: #000;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1;

  overflow: hidden;

  background-image: url('../images/main-bg/bg-1920.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  padding: 15px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 960px) {
    width: 400px;
  }

  @media screen and (min-width: 1920px) {
    width: 480px;
  }

  @media screen and (min-width: 2560px) {
    width: 570px;
  }

  @media screen and (min-width: 3400px) {
    width: 680px;
  }
}

.logo {
  display: block;

  max-width: 100%;
  height: auto;
  padding-bottom: 20px;

  object-fit: contain;

  user-select: none;

  @media screen and (min-width: 960px) {
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1920px) {
    padding-bottom: 35px;
  }

  @media screen and (min-width: 2560px) {
    padding-bottom: 40px;
  }

  @media screen and (min-width: 3400px) {
    padding-bottom: 55px;
  }
}

.links {
  display: flex;
  justify-content: space-between;

  list-style: none;
  padding: 0;
  margin: 0;
}

.links__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links__link {
  display: flex;

  text-decoration: none;
  color: #fff;

  &:hover,
  &:focus {
    color: red;
  }

  &:hover + .mirror,
  &:focus + .mirror {
    color: red;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links__icon {
  @media screen and (min-width: 960px) {
    width: 40px;
    height: 40px;

    &--special {
      width: 50px;
      height: 40px;
    }
  }

  @media screen and (min-width: 1920px) {
    width: 50px;
    height: 50px;

    &--special {
      width: 60px;
      height: 50px;
    }
  }

  @media screen and (min-width: 2560px) {
    width: 60px;
    height: 60px;

    &--special {
      width: 70px;
      height: 60px;
    }
  }

  @media screen and (min-width: 3400px) {
    width: 70px;
    height: 70px;

    &--special {
      width: 80px;
      height: 70px;
    }
  }

  fill: currentColor;

  &--special {
    stroke: currentColor;
  }
}

.mirror {
  display: block;

  color: #fff;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mirror__icon {
  transform: perspective(100px) rotateX(-130deg);
  transform-origin: center;

  @media screen and (min-width: 960px) {
    width: 40px;
    height: 40px;

    &--special {
      width: 50px;
      height: 40px;
    }
  }

  @media screen and (min-width: 1920px) {
    width: 50px;
    height: 50px;

    &--special {
      width: 60px;
      height: 50px;
    }
  }

  @media screen and (min-width: 2560px) {
    width: 60px;
    height: 60px;

    &--special {
      width: 70px;
      height: 60px;
    }
  }

  @media screen and (min-width: 3400px) {
    width: 70px;
    height: 70px;

    &--special {
      width: 80px;
      height: 70px;
    }
  }

  fill: currentColor;

  &--special {
    stroke: currentColor;
  }
}
